body{
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}
header nav img{
    width: 70%;
    display: inline;
}
header h3{
    margin: 0;
}

.borde{
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #38a8b1;
}
.fondo-negro{
    background-color: black;
    color: white;
}
.fondo-header{
    background-color: #38a8b1;
}

#quienes-somos i{
    font-size: 2em;
}
#destacados img{
    height: 150px;

}
footer{
    vertical-align: middle;
}
footer i{
    font-size: 2.5em;
    padding: 0 .3em;
}

