body{
    background-color: black;
    color: white;
}

header nav a{
    display:inline-block;
}
header nav img{
    width: 100%;
    display: inline;
}
header ul li{
    padding: 0;
    vertical-align: middle;
}
header ul{
    margin: 0;
    vertical-align: middle;
}

.borde-superior{
    border-top: 2px turquoise;
}